<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @format.name %>
</p>

<p>
  <b>Width:</b>
  <%= @format.width %>
</p>

<p>
  <b>Length:</b>
  <%= @format.length %>
</p>

<p>
  <b>Height:</b>
  <%= @format.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @format.weight %>
</p>

<p>
  <b>Medium:</b>
  <%= @format.medium_id %>
</p>


<%= link_to 'Edit', edit_format_path(@format) %> |
<%= link_to 'Back', formats_path %>
